<h3>Listado de Héroes</h3>

<div *ngIf="deletedHeroe; else nothingWasDeleted">
  <h5>Héroe eliminado <small class="text-danger">{{ deletedHeroe }}</small></h5>
</div>

<ng-template #nothingWasDeleted>
  <h5>No ha eliminado ningún héroe.</h5>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  class="btn btn-outline-danger"
  (click)="removeLastHeroe()"
>
  Borrar último héroe
</button>

<ul class="mt-2 mb-4 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">{{ name }}</li>
</ul>
